$color-primary-red: #d62e2e;
$color-primary-dark_red: #600000;
$color-primary-green: #4c5a23;
$color-primary-yellow: #e39533;
$color-primary-yellow_green: #b4a12d;

$color-secondary-red: #ef3100;
$color-secondary-dark_red: #df0d00;
$color-secondary-light-red: #ff6347;

$color-tertiary-red: #db524d;
$color-tertiary-light-red: #ffffff1a;

$color-secondary-light_gray: #e4e6eb;
$color-secondary-dark_gray: #a37e5b;

//active
$color-active: rgba(0, 0, 0, 0.15);
$pomodoro: #db524d;
$shortBreak: #4c5a23;
$longBreak: #e39533;
$accentGray: #a3a3a3;
$lightGray: #e4e6eb;
$color-tertiary-dark_gray: #555555;
$color-tertiary-light_gray: #b3b3b3;
$textColor-dark: hsl(355, 14%, 38%);
:root {
	--pomodoro: #db524d;
	--shortBreak: #54b370;
	--longBreak: #70afa0;
	--progressFillWidth: 0;
}
