.btn {
	// line-height: 5rem;
	// height: 5rem;
	// width: 15rem;
	color: $color-secondary-light_gray;
	background-color: $color-tertiary-light-red;
	text-align: center;
	font-size: 1.5rem;

	&__nav {
		color: $color-secondary-light_gray;
		font-size: 1.8rem;
	}
	&--settings {
		margin-right: 3rem;
	}
	&--logo {
		margin-left: 3rem;
	}
	&--confirm {
		background-color: $color-tertiary-red;
		font-weight: 600;
		color: #fff;
	}
}
