.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-tertiary-light-red;
	color: $lightGray;

	&__wrap {
		display: inline-flex;
		align-items: center;
		width: 2.5rem;
		height: 3rem;
		z-index: -1;
	}

	&__timer {
		transition: color 200ms ease-in-out, background 200ms ease-in-out,
			margin 75ms ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6rem;
		cursor: pointer;
		height: 3rem;
		padding: 1rem;
		font-size: 2rem;
		box-shadow: 0.5px 0.5px 2px $color-active, -1px -0.5px 2px $color-active;
		&:hover {
			background-color: $color-active;
		}
		&:active {
			margin-top: 3px;
		}
	}

	&__nav {
		color: $color-secondary-light_gray;
		font-size: 2rem;
	}
	&--settings {
		margin-right: 3rem;
	}
	&--logo {
		margin-left: 3rem;
	}
	&--confirm {
		background-color: $color-tertiary-red;
		font-weight: 600;
		color: #fff;
	}
}
