body {
	height: 100vh;
	width: 100%;
	flex-direction: column;

	// gap: clamp(1vh, 1.5vh, 3vh);
	background-color: $color-tertiary-red;
	transition: background-color 300ms;
}
.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.nav {
	height: auto;
	&-bar {
		width: 100%;
		min-width: 50%;
		height: auto;
		gap: 2rem;
		justify-content: space-between;
		padding-top: 2rem;
	}
}

.timer {
	flex-direction: column;
	align-items: center;
	min-width: 50%;
	height: 90vh;
	margin: 0 auto;

	&__progress {
		height: 0.2rem;
		margin-top: 0.5rem;
		margin-left: 3rem;
		margin-right: 3rem;
		margin-bottom: 2rem;

		background-color: $color-active;

		&--fill {
			width: calc(var(--progressFillWidth) * 1%);
			height: inherit;
			background-color: $lightGray;
		}
	}

	&__status {
		display: inline-flex;

		&--states {
			transition: all 200ms ease-in-out;
			border-radius: 5px;
			font-size: 0.875rem;
			padding: 0.5rem 1rem;
			background-color: transparent;

			&:hover {
				background-color: $color-active;
			}
		}
	}

	&__container {
		width: 100%;
		gap: 2rem;
		flex: 1;
		flex-direction: column;
	}

	&__clock {
		line-height: 4rem;
		text-align: center;
		color: $lightGray;
	}
	&__controls--container {
		height: 5rem;
		gap: 2rem;
		display: inline-flex;
	}
}

.clock__container {
	min-width: 14rem;
	justify-content: center;
	align-items: center;
	min-height: 10rem;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='white' stroke-width='3' stroke-dasharray='14%2c 8' stroke-dashoffset='17' stroke-linecap='round'/%3e%3c/svg%3e");
	border-radius: 16px;
}

// .btnn {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: 6rem;
// 	cursor: pointer;
// 	height: 3rem;
// 	color: $lightGray;
// 	border: 1px solid $lightGray;
// 	border-radius: 5px;

// 	// &:hover {
// 	// 	border: #333 3px solid;
// 	// 	.bar {
// 	// 		background-color: #333;
// 	// 	}
// 	// }
// }
// .wrap {
// 	display: inline-flex;
// 	align-items: center;
// 	width: 2.5rem;
// 	height: 3rem;
// 	z-index: -1;
// }

// .bar {
// 	display: inline-block;
// 	position: absolute;
// 	width: 3px;
// 	height: 20px;
// 	border-radius: 3px;
// 	background-color: $lightGray;
// 	color: $lightGray;
// 	transform-origin: center;
// 	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out,
// 		opacity 0.4s ease-in-out;
// }
// .btn--pause {
// 	.bar-1 {
// 		transform: translateX(13.5px) translateY(0px) rotate(0deg);
// 	}
// 	.bar-2 {
// 		transform: translateX(24px) translateY(0px) rotate(0deg);
// 	}
// 	.bar-3 {
// 		transform: translateX(20px) translateY(-5px) rotate(-55deg);
// 		opacity: 0;
// 	}
// }

// .btn--play {
// 	.bar-1 {
// 		transform: translateX(20px) translateY(-5px) rotate(-55deg);
// 	}
// 	.bar-2 {
// 		transform: translateX(20px) translateY(5px) rotate(-125deg);
// 	}
// 	.bar-3 {
// 		margin-top: 3px;
// 		height: 22px;
// 		border-radius: 0px 2px 2px 0px;
// 		transform: translateX(11.5px) translateY(-1px) rotate(0deg);
// 	}
// }
