.flex__parent {
	display: flex;
	// display: inline-block;
}

.grid__parent {
	display: grid;
}

.f_jc_aic {
	justify-content: center;
	align-items: center;
	// flex-direction: column;
}

.overflowx-for-mobile {
	@include breakpoint-down(small) {
		overflow-x: scroll;
	}
}

.hidden {
	visibility: hidden;
}
